################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BinarySearch/DailyChallenge/obj/Debug/net6.0
/.vs
